/* Author: Ludovic Gendre
    Menu:
    1.General
    2.About
    3.Education/Experience
    4.Recommendation
    5.Hoby
*/

/* General */
*{
    box-sizing: border-box;
}
body{
    font-family: serif, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 900px;
}

.container{
    padding: 20px;
}

p{
    font-size: 15px;
    margin: 8px 0;
    color: black;
}

.bold{
    font-weight: 600;
}

.row{
    display: flex;
    justify-content: space-between;
}

/* Header */
header {
    background-color: white;
}

.title{
padding: 30px;
}

.title h1, h2 {
    margin: 0 15px;
}

.title .title-first {
    color: orange;
}

.title .title-second {
    font-weight: 120;
}

.title .underline {
    border-bottom: 1px solid orange;
}

/* About */
.about{
    background-color: orange;
    text-align: justify;
}

.about h2{
    text-align: center;
    color: orange;
    background-color: rgb(85, 84, 84);
    margin: 0;
    padding: 6px 0;
}

/* Education | Experience */
.main-resume{
    background-color: white;
}

.main-resume h2 {
    border-bottom: 1px solid orange;
    margin: 0 20px;
    color: black;
    margin: 0 20px;
}

.main-resume h2 i {
    margin-right: 25px;
}

.main-resume i {
    color: orange;
}

.main-resume h4 {
    margin: 8px 0 8px 0;
}

.main-resume p i {
    width: 20px;
    margin-right: 10px;
}

.main-resume .fa-dot-circle,
.main-resume .fa-circle {
    font-size: 10px;
}

.main-resume .places {
    margin-left: 28px;
}

.education .education-plus,
.experience .experience-plus{
    width: 70%;
}

/* Recommendation */
.recommendation{
    background-color: white;
}

.recommendation h2{
    color: black;
    border-bottom: 1px solid orange;
    padding: 10px;
    margin: 0 20px;
}

.recommendation i{
    color: orange;
    margin-right: 25px;
}

.recommendation .recommendation-plus{
    padding-bottom: 20px;
}

/* Hobby */
.hobby{
    background-color: orange;
}

.hobby h2{
    text-align: center;
    color: orange;
    background-color:  rgb(85, 84, 84);
    padding: 6px 0;
    margin: 0;
}

.hobby .container{
    display: flex;
    justify-content: space-evenly;
}

.hobby i{
    color:  rgb(85, 84, 84);
    border: 5px solid  rgb(85, 84, 84);
    border-radius: 50%;
    padding: 10px;
}
