/* Author: Ludovic Gendre
    Menu:
    1.General
    2.Header
    3.About
    4.Education/Experience
    5.Recommendation
    6.Hoby
    7.Responsive
*/

/* 1.General */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
*{
    box-sizing: border-box;
    --first-color: #FECA07;
    --second-color: #404040;
}
body{
    font-family: 'Montserrat',serif, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 900px;
    color: black;
}

.container{
    padding: 20px;
}

p{
    font-size: 15px;
    margin: 8px 0;
    color: black;
}

.bold{
    font-weight: 600;
}

.row{
    display: flex;
    justify-content: space-between;
}

/* 2.Header */
header {
    background-color: white;
}

.title{
padding: 30px;
}

.title h1, h2 {
    margin: 0 15px;
}

.title .title-first {
    color: var(--first-color);
}

.title .title-second {
    font-weight: 120;
}

.title .underline {
    border-bottom: 1px solid var(--first-color);
}

.profil-picture{
    padding: 40px;
}

.profil-picture img{
    width: 150px;
    display: block;
    border: 2px solid var(--first-color);
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
}

/* 3.About */
.about{
    background-color: var(--first-color);
    text-align: justify;
}

.about h2{
    text-align: center;
    color: var(--first-color);
    background-color: var(--second-color);
    margin: 0;
    padding: 6px 0;
}

/* 4.Education | Experience */
.main-resume{
    background-color: white;
}

.main-resume h2 {
    border-bottom: 1px solid var(--first-color);
    margin: 0 20px;
    color: black;
    margin: 0 20px;
}

.main-resume h2 i {
    margin-right: 25px;
}

.main-resume i {
    color: var(--first-color);
}

.main-resume h4 {
    margin: 8px 0 8px 0;
}

.main-resume p i {
    width: 20px;
    margin-right: 10px;
}

.main-resume .fa-dot-circle,
.main-resume .fa-circle {
    font-size: 10px;
}

.main-resume .places {
    margin-left: 28px;
}

.education .education-plus,
.experience .experience-plus{
    width: 70%;
}

/* 5.Recommendation */
.recommendation{
    background-color: white;
}

.recommendation h2{
    color: black;
    border-bottom: 1px solid var(--first-color);
    padding: 10px;
    margin: 0 20px;
}

.recommendation i{
    color: var(--first-color);
    margin-right: 25px;
}

.recommendation .recommendation-plus{
    padding-bottom: 20px;
}

/* 6.Hobby */
.hobby{
    background-color: var(--first-color);
}

.hobby h2{
    text-align: center;
    color: var(--first-color);
    background-color:  var(--second-color);
    padding: 6px 0;
    margin: 0;
}

.hobby .container{
    display: flex;
    justify-content: space-evenly;
}

.hobby i{
    color:  var(--second-color);
    border: 5px solid var(--second-color);
    border-radius: 50%;
    padding: 10px;
}
/* 7.Responsive */
@media screen and (min-width: 770px) {
    /* General */
    body{
        width: 100%;
    }
    p{
        font-size: 15px;
    }

    main{
        display: flex;
    }
    /* Header */
    header{
        display: flex;
        padding: 0;
    }
    .title{
        flex-basis: 67%;
        padding: 80px 40px;
        border-top: 1px solid var(--second-color);
        border-right: 1px solid var(--second-color);
    }

    .profil-picture{
        width: 33%;
        background-color: var(--first-color);
        border-top: 1px solid var(--first-color);
        border-left: 1px solid var(--first-color);
    }

    /* About */
    .about{
        width: 33%;
        border-left: 1px solid var(--first-color);
    }
    .about h2{
        margin-left: -1px;
    }
    .about .container{
        padding: 20px 30px;
    }

    /* Education | Experience */
    .main-resume{
        display: flex;
        flex: 67%;
        flex-direction: column;
        padding: 0 40px;
        border-right: 1px solid var(--second-color);
    }
    .main-resume h4{
        margin: 12px 0 8px 0;
    }

    /* Footer */
    footer{
        display: flex;
    }
    .recommendation{
        flex-basis: 67%;
        padding: 0 40px;
        border-right: 1px solid var(--second-color);
        border-bottom: 1px solid var(--second-color);
    }
    .recommendation .container{
        display: flex;
        justify-content: space-between;
    }
    .hobby{
        flex-basis: 33%;
        background-color: var(--first-color);
        order: -1;
        border-left: 1px solid var(--first-color);
        border-bottom: 1px solid var(--first-color);
    }
    .hobby h2{
        margin: 20px 0 0 -1px;
    }
}